// Primary Color
$color-red-primary: #CA0124;
$color-red-primary-200: #fadfda;
$color-red-primary-500: #dc5e4f;
$color-red-primary-600: #db2f1a;
$color-red-2: #E4282A;

// Functional Color
$color-green-functional: #0ed346;
$color-green-functional-200: #d7f5dc;
$color-green-functional-500: #ebfaee;
$color-blue-functional: #edf3fd;
$color-blue-functional-200: #dbe7fa;
$color-blue-functional-500: #3d8af2;
$color-yellow-functional: #fdf8ed;
$color-yellow-functional-200: #fbf1dc;
$color-yellow-functional-500: #ffcc59;

// Dark Color
$color-dark-functional: #f3f6fb;
$color-dark-functional-100: #eceef4;
$color-dark-functional-200: #e5e7ec;
$color-dark-functional-300: #dcdfe6;
$color-dark-functional-400: #7b8799;
$color-dark-functional-500: #465773;
$color-dark-functional-600: #11284d;
$color-dark-orange: #FFC85E;

//color-primary
$color-white: #ffffff;
$color-black: #000000;
$color-orange: #FFC85E;
$color-background-default: #f9f9f9;
$color-slide-out: #e5e5e5;
$color-background: #091124;

//color-btn
$color-btn: #DC5E4F;
$color-btn-white: #FCFCFC;
$color-text: #A0A3BD;
$color-text-disable: #7B8799;
$color-placeholder: #555555;
$color-text-4: #828B92;

//fonts
// $font-root: 'Noto Serif';
$font-mont: 'Montserrat', sans-serif;

$color-btn-hover: #CA0124;
$color-btn-active: #CA0124;
$color-btn-disable: #CA0124;

//fonts
$fonts-root: 'Montserrat';

//bg-color
$color-bg-navbar: #091124;

//width
$max-width-header: 1280px;
$max-width: 1280px;
$max-width-system-div: 800px;
