.el-checkbox {
  margin-right: 7px;
}
.el-checkbox__inner {
  width: 20px;
  height: 20px;
  &:after {
    height: 11px;
    left: 7px;
  }
}
.delete-btn {
  cursor: pointer;
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: $color-btn;
  border-color: $color-btn;
}
.cart {
  background-color: $color-background-default;
  width: 100%;
  .el-checkbox__label {
    display: none;
  }
  .title {
    margin: 0;
    color: $color-dark-functional-600;
    font-size: 32px;
  }
  .no-product {
    margin-top: 32px;
    text-align: center;
    p {
      font-weight: 400;
      font-size: 14px;
    }
  }
  .products {
    margin-top: 32px;
    padding-left: 60px;
    padding-right: 60px;
    .product-zone {
      background-color: $color-white;
      padding-left: 20px;
      padding-right: 20px;
      &.total-product {
        position: relative;
        display: inline-block;
        width: calc(100% - 40px);
        margin-top: 24px;
        margin-bottom: 40px;
      }
      table {
        width: 100%;
        border-radius: 4px;
        thead {
          height: 56px;
          border-radius: 4px;
          font-weight: bold;
        }
        tr {
          font-size: 14px;
          .trash-td {
            width: 40px;
          }
          .checkbox-td {
            width: 42px;
          }
          .name-title {
            width: 25%;
          }
          .price-unit {
            width: 25%;
          }
          .quantity {
            width: 16%;
          }
          .price {
            width: 20%;
          }
        }
        &.table-product {
          margin-top: 16px;
          border-collapse: collapse;
          thead {
            tr {
              border-bottom: 1px solid $color-dark-functional-300;
            }
          }
          tbody {
            tr {
              height: 118px;
              .avatar {
                width: 86px;
                img {
                  width: 70px;
                  height: 70px;
                }
              }
              .name {
                display: block;
                padding: 20px 0;
                padding-left: 21px;
                font-weight: bold;
                font-size: 14px;
                p {
                  font-size: 14px;
                  font-weight: 500;
                  color: $color-text-disable;
                }
              }
              .price-unit {
                width: 25%;
                .primary_price {
                  font-weight: 500;
                  font-size: 12px;
                  text-decoration-line: line-through;
                  color: $color-text-disable;
                }
              }
              .quantity {
                width: 16%;
                .el-input-number {
                  width: 93px;
                }
              }
              .price {
                width: 20%;
              }
            }
          }
          .none-product {
            height: 55px;
            td {
              text-align: right;
              color: $color-btn;
              font-size: 14px;
              font-weight: 400;
            }
          }
          .deposit {
            height: 50px;
            text-align: right;
          }
          .total-price {
            width: 250px;
            text-align: right;
            &.hidden-price {
              color: $color-dark-functional-300;
            }
            &.deposit-price {
              color: $color-btn;
            }
          }
          .sale-price {
            text-align: right;
            height: 50px;
            span {
              color: $color-btn;
              font-size: 13px;
            }
          }
        }
      }
      .checkout-zone {
        text-align: right;
        height: 64px;
        display: flex;
        float: right;
        width: 100%;
        justify-content: flex-end;
        button {
          width: 259px;
          height: 40px;
          background-color: $color-btn;
          border: 1px solid $color-btn;
          border-radius: 4px;
          color: white;
          cursor: pointer;
        }
        .text-checkout {
          margin-right: 16px;
          .title {
            font-size: 16px;
            color: $color-dark-functional-600;
            margin-right: 8px;
          }
          .total-price {
            font-size: 20px;
            color: $color-btn;
          }
          .note {
            margin-top: 6px;
            margin-bottom: 0;
            font-size: 13px;
            color: $color-dark-functional-400;
          }
        }
      }
    }
  }
}
