.dialog-congratulation {

  .el-dialog {
    background-image: url("assets/images/predict/bg_congra.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-width: 100%;
    width: 70%;
    margin-top: 10vh !important;

    @media screen and (min-width: 1200px) and (max-width: 1600px) {
      width: 80%;
    }

    .el-dialog__body {
      padding: 0px 25px 30px;
    }
  }
}


.congratulation_component {
  position: relative;
  height: 100%;

  .name_nft_congra {
    position: absolute;
    left: 0;
    right: 0;
    font-family: "Gemunu Libre", sans-serif;
    background: linear-gradient(180deg, #FFFFFF 40.11%, #ffffff 74.64%);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 17px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 3.6rem;
  }

  .id_nft_congra {
    position: absolute;
    left: 0;
    right: 0;
    top: 4.9rem;
    font-family: "Gemunu Libre", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    align-items: center;
    text-align: center;

    color: $color-white;

    @media only screen and (max-width: 600px) {
      top: 2.5rem;
    }
  }

  .lst_nft_opened_pc {
    padding: 30px 0 0;
  }

  .congratulation_text {
    pointer-events: none;
    background: linear-gradient(180deg, #0B1023 0%, #17182D 100%);
    border: 1px solid #555555;
    border-radius: 8px;
    box-shadow: unset;
    padding: 25px 100px;
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: -3rem;
    left: 0;
    right: 0;
    margin: auto;

    span {
      font-family: $font-gemunu;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 52px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 4px;
      text-transform: uppercase;
      background: linear-gradient(180deg, #FFFFFF 40.11%, #ABABAB 74.64%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

      mix-blend-mode: normal;
    }
  }

  .close_img {
    z-index: 1000;
    position: absolute;
    top: -2.5rem;
    right: -5px;
    cursor: pointer;
  }

  .lst_nft_opened_mobile {
    display: none;
  }

  .lst_nft_opened {
    padding: 20px 20px 0px 50px;
    //display: grid;
    //grid-template-columns: repeat(5, minmax(0, calc((100% - (5 - 1) * 20px) / 5)));
    //grid-gap: 0 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    @media screen and (min-width: 1200px) and (max-width: 1600px) {
      padding: 20px 20px 30px 0px;
    }

    .bg_nft_item_opened {
      min-width: 200px;
      max-width: 100%;
      @media screen and (min-width: 1200px) and (max-width: 1600px) {
        min-width: unset;
      }

      .info_nft .img_nation {
        left: 0;
      }

      @media screen and (min-width: 1200px) and (max-width: 1600px) {
        .info_nft {

          .name_nft {
            top: 3rem;
            left: 0.5rem;
          }

          .img_nation {
            left: 0;
            max-width: 60px;
          }
        }
      }
    }
  }

  .btn_confirm {
    padding: 13px 70px;
    margin: 30px auto 10px;
    display: flex;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .dialog-congratulation {
    .el-dialog {
      width: 95% !important;
    }
  }

  .congratulation_component {
    .lst_nft_opened {
      padding: 50px 0 0 10px;

      .bg_nft_item_opened {
        min-width: unset;
      }
    }

    .bg_nft_item_opened .info_nft {
      .name_nft {
        top: 1.75rem;
        left: 0.5rem;
        font-size: 14px;
      }

      .img_nation {
        top: 7px;
      }

      .img_bg_nft {
        padding: 15px 0 10px;
      }
    }

    .name_nft_congra {
      top: 40px;
      font-size: 15px;
    }
  }
}

@media only screen and (max-width: 640px) {
  .dialog-congratulation {
    .el-dialog {
      width: 95% !important;
      margin-top: 10vh !important;
      background-image: unset;

      .el-dialog__body {
        padding: 20px 0 0;
      }
    }
  }
  .congratulation_component {

    .close_img {
      top: -10vh;
      left: 0;
      right: 0;
      margin: auto;
    }

    .congratulation_text {
      padding: 10px 30px;
      top: -1.5rem;

      span {
        font-size: 24px;
        line-height: 26px;
      }
    }

    .lst_nft_opened_pc {
      display: none;
    }

    .lst_nft_opened_mobile {
      display: block;
      padding: 50px 0px 20px;

      .lst_token_img {
        //display: grid;
        //grid-template-columns: repeat(5, auto);
        display: flex;
        justify-content: center;
        gap: 18px;
        padding: 20px 15px 2px;
        row-gap: 20px;

        .info_nft_mobile {
          text-align: center;

          .img_nation_mobile {
            max-width: 50px;
          }
        }
      }

      .summary_token {
        //background-image: url("assets/images/predict/bg_open.png");
        //background-size: 100% 100%;
        //background-repeat: no-repeat;
        padding-bottom: 20px;

        .lst_row {
          width: 100%;
          display: grid;
          grid-template-columns: auto;
          margin: 30px 0;

          .row_token {
            display: flex;
            justify-content: space-between;
            padding: 8px 12px;
            border: 1px solid $color-border-sidebar;

            span {
              font-size: 20px;
              line-height: 22px;
              color: #E8E8F2;

            }
          }
        }
      }

      .slide_nft_div {
        background-image: url("assets/images/predict/bg_congra_mobile.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        max-width: 100%;

        .row_nft {
          .img-nft-mobile {
            margin: auto;
            position: absolute;
            top: 35%;
            left: 0;
            right: 0;
            max-width: 20%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 300px) {
  .congratulation_component {

    .lst_nft_opened_mobile {
      padding: 12px 0px 20px;
    }

    .close_img {
      top: -12vh;
    }

    .congratulation_text {
      padding: 10px;
      top: -2.5rem;

      span {
        font-size: 18px;
        line-height: 26px;
      }
    }

    .lst_nft_opened_mobile .summary_token .lst_row {
      margin: 20px 0;
    }

    .lst_token_img .info_nft_mobile .img_nation_mobile {
      max-width: 40px !important;
    }
  }
}

.row_nft {
  .slick-list {
    padding: 20px 0 !important;
  }

  .slide {
    position: relative;
    text-align: center;

    .name_nft {
      position: absolute;
      top: 2.4rem;
      left: 0;
      right: 0;
      font-family: $font-gemunu;
      background: linear-gradient(180deg, #FFFFFF 40.11%, #ffffff 74.64%);
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      text-transform: uppercase;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

      @media only screen and (max-width: 768px) {
        top: 1.5rem;
      }
    }

    .img_bg_nft_mobile {
      width: 50%;
      margin: auto;
    }
  }

  .slick-dots {
    padding: 0px 0 12px;
    position: relative;
    bottom: -6px;

    li {
      content: url("assets/images/gray_dot.svg");
    }

    li.slick-active {
      content: url("assets/images/red_dot.svg");
    }
  }

  .slick-prev {
    left: 17px;
    z-index: 999;
  }

  .slick-next {
    right: 17px;
    z-index: 999;
  }
}

.name_nft_5 {
  //background: linear-gradient(180deg, #FFFFFF 40.11%, #ABABAB 74.64%);
}

.name_nft_4 {
  //background: linear-gradient(180deg, #A88884 32.9%, #F3EFEF 50.88%, #8D706C 80.06%);
}

.name_nft_3 {
  //background: linear-gradient(180deg, #FFFFFF 40.11%, #ABABAB 74.64%);
}

.name_nft_2 {
  //background: linear-gradient(180deg, #FF9900 0%, #ED8001 100%);
}

.name_nft_1 {
  //background: linear-gradient(180deg, #FFFFFF 40.11%, #ABABAB 74.64%);
}

@media only screen and (max-width: 300px) {
  .row_nft .slide .name_nft {
    top: 1rem;
    font-size: 13px;
  }
  .congratulation_component .id_nft_congra {
    top: 2rem;
  }

  .slick-dots li {
    width: 15px !important;
    height: 15px !important;
  }
}

