.dialog-deposit, .dialog-open-box, .dialog-congratulation {
  .el-dialog {
    box-sizing: border-box;
    border: 1px solid $color-border-sidebar;
    border-radius: 8px;
    background: $color-bg-navbar;
    max-width: 500px;

    .el-dialog__body {
      padding: 20px 25px 30px;
      color: $color-white;
    }
  }
}

.el-dialog__header {
  display: none;
}

.deposit_component {
  position: relative;

  .close_img {
    position: absolute;
    top: -15px;
    right: -5px;
    cursor: pointer;
  }

  .modal-title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }

  .sub-title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: $color-text-6;
    max-width: 100%;
    word-break: break-word;
  }

  .btn_amount {
    cursor: pointer;
    background-color: $color-red-primary;
    width: 45px;
    height: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: $color-white;

    &:hover {
      color: $color-white;
      background: $color-btn-hover;
      box-shadow: 0px 0px 30px rgba(202, 1, 36, 0.7);
    }
  }

  .btn_disable {
    color: $color-white;
    cursor: not-allowed;
    background-image: none;
    background-color: $color-btn-disable;
    border-color: $color-btn-disable;
    opacity: 0.5;
  }

  .fee {
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    margin-bottom: 24px;
  }
}

.el-input-group__append, .el-input-group__prepend {
  padding: 0;
  background-color: $color-red-primary;
  cursor: pointer;
}
