.el-checkbox {
  margin-right: 7px;
}
.el-checkbox__inner {
  width: 20px;
  height: 20px;
  &:after {
    height: 11px;
    left: 7px;
  }
}
.delete-btn {
  cursor: pointer;
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: $color-btn;
  border-color: $color-btn;
}
.order {
  background-color: $color-background;
  padding: 40px 60px;
  .title {
    color: $color-text;
    font-size: 32px;
    margin-bottom: 32px;
  }
  .search {
    .el-input-group__prepend {
      background-color: $color-white;
      border-right: none;
      padding: 10px 19px 10px 11px;
    }
    .el-input__inner {
      border-left: none;
    }
  }
  .sidebar {
    margin-top: 32px;
    background-color: $color-white;
    .el-tabs__header {
      margin: 0;
      border: none;
      .el-tabs__nav {
        width: 100%;
        border: none;
        border-radius: 4px 4px 0 0;
        .el-tabs__item {
          width: calc(100% / 7);
          text-align: center;
          border: none;
          height: 56px;
          font-weight: 500;
          font-size: 14px;
          color: $color-text;
          padding-top: 7px;
          &.is-active {
            color: $color-btn;
            font-weight: bold;
            border-bottom: 4px solid $color-btn;
          }
        }
      }
    }
  }
  .none-order {
    margin-top: 16px;
    height: 260px;
    border-radius: 8px;
    text-align: center;
    padding-top: 120px;
    background: $color-white;
    img {
      width: 102px;
      height: 102px;
    }
    p {
      color: $color-text;
      font-weight: 500;
      font-size: 14px;
    }
  }
  .list-order {
    margin-top: 16px;
    .show-order {
      .order-zone {
        background-color: $color-white;
        padding: 0 16px 20px 16px;
        margin-bottom: 24px;
        border-radius: 4px;
        position: relative;
        .status {
          position: absolute;
          right: 15px;
          top: 15px;
          color: $color-btn;
          font-weight: 500;
          font-size: 14px;
        }
        .shop {
          border-bottom: 1px solid $color-dark-functional-300;
          padding-top: 15px;
          p {
            margin-top: 0;
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 15px;
          }
        }
        .products {
          table {
            width: 100%;
            border-bottom: 1px solid $color-dark-functional-300;
            border-collapse: collapse;
            .product {
              border-bottom: 1px solid $color-dark-functional-300;
              td {
                padding-top: 24px;
              }
              .img {
                float: left;
                img {
                  width: 74px;
                  height: 74px;
                  border-radius: 4px;
                }
              }
              .product-name {
                width: 60%;
                padding-left: 20px;
                vertical-align: top;
                p {
                  margin-top: 0;
                  font-size: 14px;
                  margin-bottom: 4px;
                  &.name {
                    font-weight: bold;
                  }
                  &.type {
                    color: $color-text-disable;
                  }
                }
                button {
                  background: $color-btn;
                  border: 1px solid $color-btn;
                  border-radius: 4px;
                  width: 110px;
                  height: 32px;
                  padding: 0;
                  margin-top: 16px;
                  margin-bottom: 23px;
                  span {
                    font-weight: 500;
                    font-size: 14px;
                  }
                  &.is-plain {
                    background: $color-white;
                    color: $color-btn;
                    width: 140px;
                  }
                }
              }
              .price {
                width: 40%;
                text-align: right;
                font-size: 14px;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
    .total {
      margin-top: 14px;
      display: flex;
      p {
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        margin-top: 8px;
      }
      .order-total {
        font-size: 14px;
        width: 20%;
        p {
          float: right;
          margin-bottom: 8px;
          .total-money {
            font-weight: bold;
            font-size: 15px;
            color: $color-btn;
            &.total-price {
              font-size: 20px;
            }
          }
        }

      }
    }
  }
}
.evaluate {
  .product {
    display: flex;
    img {
      width: 60px;
      height: 60px;
      margin-right: 16px;
    }

    .product-information {
      p {
        font-weight: bold;
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 4px;
        &.type {
          color: $color-text-disable;
          font-weight: normal;
        }
      }
    }
    &.show-product {
      padding-bottom: 16px;
      border-bottom: 1px solid $color-dark-functional-300;
      img {
        border-radius: 8px;
      }
    }
  }
  .rating {
    margin-top: 15px;
    margin-bottom: 15px;
    img {
      width: 27px;
      height: 27px;
      cursor: pointer;
      margin-right: 10px;
    }
  }
  .note {
    .el-form-item {
      margin-bottom: 8px;
      .el-form-item__content {
        margin-left: 0 !important;
        textarea {
          resize: none;
        }
        .el-input__count {
          height: 27px;
        }
      }
    }
    .hide-upload > div {
      display: none;
    }
    .product-image-item {
      .el-upload-list--picture-card .el-upload-list__item {
        height: 56px;
        width: 56px;
      }
      .el-image {
        height: 55px !important;
        width: 55px !important;
      }
      .el-upload--picture-card {
        width: 56px;
        height: 56px;
        position: relative;
        color: $color-dark-functional-400;
        i {
          position: absolute;
          top: 12px;
          right: 17px;
          font-size: 21px;
          color: $color-dark-functional-300;
        }
        p {
          position: absolute;
          font-size: 13px;
          font-weight: 500;
          top: -43px;
          right: 18px;
        }
      }
    }
  }
  .detail-user {
    margin-top: 16px;
    .avatar {
      img {
        width: 58px;
        height: 58px;
        border-radius: 39px;
        margin-left: 5px;
      }
    }
    .detail {
      .name {
        margin: 0;
        font-weight: bold;
        font-size: 16px;
        color: $color-text;
      }
      .rating {
        margin-top: 10px;
        margin-bottom: 0;
        img {
          width: 17px;
          height: 17px;
          margin-right: 5px;
        }
      }
      .note {
        font-weight: 500;
        font-size: 14px;
      }
      .images {
        img {
          width: 79px;
          height: 79px;
          margin-right: 20px;
          margin-top: 10px;
          border-radius: 0;
        }
      }
      .date {
        margin-top: 5px;
        margin-bottom: 30px;
        font-size: 13px;
        color: $color-text-disable;
      }
    }
  }
  .submit {
    text-align: right;
    .el-button--primary {
      width: 120px;
    }
    .el-button--default {
      width: 120px;
    }
  }
}

.search_orders {
  left: 1px;
  position: relative;
  img {
    position: absolute;
    margin: 8px 18px;
    z-index: 2;
  }
  input {
    text-indent: 48px;
  }
}
