.predict_component {
  .box_div {
    padding-top: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 48px;

    .mystery_box {
      width: 40%;
      height: inherit;

    }

    .des_div {
      width: 100%;
      height: inherit;
      background: linear-gradient(180deg, #0B1023 0%, #17182D 100%);
      border-radius: 8px;
      padding: 12px;
      font-family: $font-gemunu;
      display: flex;
      flex-direction: column;

      .title_des {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        margin: 0;
      }

      .sub-title {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: $color-text-6;
      }

      .btn_under {
        display: flex;
        justify-content: left;
        gap: 5%;

        .amount_div {
          box-sizing: border-box;
          background: linear-gradient(180deg, #0B1023 0%, #17182D 100%);
          border: 1px solid #555555;
          border-radius: 6px;
          text-align: center;
          align-items: center;
          width: 40%;
          display: flex;
          max-width: 40%;
          word-break: break-word;

          .amount_text {
            height: fit-content;
            width: fit-content;
            margin: auto;
            font-size: 18px;
          }
        }

        .btn_buy_box {
          width: 40%;

          span {
            padding: 13px 40px;
          }
        }

        @media screen and (max-width: 1300px) {
          display: grid;
          grid-template-columns: auto;
          justify-content: unset;
          gap: 15px;
          .amount_div {
            width: 100%;
            max-width: 100%;
            height: $height-btn-common;

          }
          .btn_buy_box {
            width: 100%;
          }
        }
      }
    }
  }

  .lst_nft_div {
    padding-top: 40px;

    .lst_nft {
      padding-top: 30px;
      display: grid;
      grid-template-columns: repeat(4, auto);
      //gap: calc((100% - 2 * 24px) / 3);
      row-gap: 50px;
    }
  }

  .bg_box_common {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    background-image: url("assets/images/predict/bg_box.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 8px;
    padding: 0 12px 12px;
    text-align: center;
    margin: auto;
    align-items: center;
    height: 100%;
  }

  .bg_box_common_gray {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .bg_box_nft, .bg_nft_item {

    .btn_box {
      pointer-events: none;
      position: absolute;
      width: 80%;
      top: calc($height-btn-common / 2 * -1);
      right: 0;
      left: 0;
      margin: auto;
    }

    .img_box {
      //max-width: 100%;
      padding: 30px 0;
      //max-height: calc(100% - 2 * 12px - $height-btn-common);
    }

    .info_nft {
      height: fit-content;
      position: relative;
      width: 100%;
      margin-top: 10px;

      .img_bg_nft {
        width: 100%;
        padding: 30px 0 10px;
        //max-height: calc(100% - 2 * 12px - $height-btn-common);
      }

      .name_nft {
        font-family: $font-gemunu;
        background: linear-gradient(180deg, #FFFFFF 40.11%, #ffffff 74.64%);
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 17px;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        position: absolute;
        top: 4.8rem;
        left: 0;
        right: 0;
      }

      .name_nft_home {
        top: 3.8rem;
      }

      .img_nation {
        position: absolute;
        top: 2rem;
        bottom: 0rem;
        left: 0;
        right: 0;
        width: 50%;
        max-width: 80px;
        margin: auto;;
      }
    }

    .nav_btn_div {
      //position: absolute;
      bottom: 12px;
      //width: calc(100% - 2 * 12px);
      display: flex;
      justify-content: space-between;
      gap: 10px;
      margin-top: auto;
      width: 100%;

      .amount_div {
        box-sizing: border-box;
        background: linear-gradient(180deg, #0B1023 0%, #17182D 100%);
        border: 1px solid #555555;
        border-radius: 6px;
        text-align: center;
        align-items: center;
        width: calc((100% - 12px * 2 - 24px));
        display: flex;
        max-width: 100%;
        word-break: break-word;

        .amount_text {
          height: fit-content;
          width: fit-content;
          margin: auto;
          font-size: 18px;
        }
      }

      .amount_div_nft {
        height: $height-btn-common;
        margin: auto;
      }

      .btn_open {
        width: calc((100% - 12px * 2 - 24px));
      }
    }
  }

  .bg_nft_item {
    min-width: 250px;
  }
}

.title_red_div {
  border-left: 4px solid $color-red-primary;

  h3 {
    font-family: $font-mont;
    padding-left: 5px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-transform: uppercase;
  }
}

// responsive

@media only screen and (min-width: 1100px) and (max-width: 1400px) {
  .predict_component {
    .lst_nft_div {
      .lst_nft {
        grid-template-columns: repeat(3, auto);
      }
    }
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1100px) {
  .predict_component {
    .lst_nft_div {
      .lst_nft {
        grid-template-columns: repeat(2, auto);
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  @keyframes MoveUpDownShort {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .predict_component {
    overflow-x: hidden;

    .box_div .mystery_box {
      width: 60%;
    }

    .lst_nft_div .lst_nft {
      //grid-template-columns: repeat(2, auto);
      gap: 50px 2vw;
    }

    .bg_nft_item {
      min-width: 20vw;

      .btn_box {
        box-shadow: unset;
      }

      .info_nft {

        .img_bg_nft {
          filter: unset !important;
        }

        .name_nft {
          top: 3.6rem;
        }

        .img_nation {
          max-width: 70px;
        }
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .predict_component {
    //overflow-x: hidden;

    .bg_box_common {
      padding: 0 7px 12px;
    }

    .title_red_div {
      display: none;
    }

    .box_div {
      display: grid;
      grid-template-columns: 1fr;
      gap: 0px;

      .mystery_box {
        width: 88%;
        margin: auto;
      }

      .des_div {
        width: unset;
      }
    }

    .lst_nft_div .lst_nft {
      grid-template-columns: repeat(2, auto);
      gap: 50px 3vw;
    }

    .bg_nft_item {
      min-width: 45vw;

      .btn_box {
        box-shadow: unset;
      }

      .info_nft {

        .img_bg_nft {
          filter: unset !important;
        }

        .name_nft {
          top: 3.7rem;
        }

        .img_nation {
          max-width: 70px;
          top: 1.5rem;
          width: 37%;
        }
      }
    }
  }
}

@media only screen and (max-width: 300px) {
  .predict_component {
    .bg_box_common {
      padding: 0 5px 12px;
    }

    .lst_nft_div .lst_nft {
      grid-template-columns: repeat(2, auto);
      gap: 50px 3vw;
    }

    .bg_nft_item {
      min-width: 40vw;

      .btn_box {
        box-shadow: unset;
        height: 30px;
        top: -15px;
      }

      .info_nft {

        .img_bg_nft {
          filter: unset !important;
        }

        .name_nft {
          top: 3.2rem;
          left: 0;
          right: 0;
          margin: auto;
          font-size: 11px;
        }

        .img_nation {
          max-width: 50px;
          top: 15px;
        }
      }

      .nav_btn_div .amount_div {
        width: 100%;
      }

      .nav_btn_div .amount_div_nft {
        height: 40px;
      }
    }

    .box_div .des_div .btn_under .btn_buy_box span {
      padding: 13px 13px;
    }
  }
}
