.main-login {
  width: 450px;
  margin: 84px auto;
  background: $color-background;
  padding: 24px !important;
  @media only screen and (max-width: 600px) {
    margin: 0px auto !important;
    width: 93%;
    padding: 12px !important;
  }

  .otp-block-register {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(6, minmax(0, 100%));
    column-gap: 20px;
    justify-content: center;
    justify-items: center;
    @media only screen and (max-width: 400px) {
      column-gap: 5px;
    }
  }

  h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 2rem !important;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .sub_title {
    font-weight: 400;
    line-height: 19.5px;
    padding-bottom: 24px;
    text-align: center;
    color: $color-text;
  }

  .el-input__suffix {
    display: flex;
    align-items: center;
    right: 10px;
  }

  .icon-show-pass {
    display: flex;
  }

  .email-login {
    .birthday {
      width: 100%;
    }
  }

  .password-title-sub {
    margin: 1.5rem 0;
    font-size: 0.875rem;
  }


  .agree-block {
    display: flex;
    align-items: baseline;
    column-gap: 10px;

    &-label {
      font-size: 1rem;
      line-height: 22px;
    }

  }

  .bnb-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 30px;
  }

  .bnb-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $color-text;
    padding-bottom: 30px;
  }

  .line-through {
    border: 0.5px solid $color-placeholder;
    margin: 30px 0;
  }

  .back {
    text-align: center;

    a {
      color: $color-red-primary !important;
    }
  }

  .noti-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .noti-title {
    color: $color-red-primary;
    font-size: 24px !important;
  }

  .noti-subtitle {
    color: $color-placeholder;
    text-align: center;
    margin: 0 40px 40px 40px;
  }

  .sub-label {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    color: #ca0124;
    max-width: 100%;
    word-break: break-word;
    padding-bottom: 10px;
  }
}

.forgot-pass {
  margin: 0.5rem 0 1.75rem 0;

  .login-page__forgot-password {
    width: fit-content;
    margin-left: auto;
  }
}

.login-page__forgot-password {
  text-align: center !important;
}

.no_account {
  // margin-bottom: 26px;

  .here {
    cursor: pointer;
    color: $color-red-primary;
    // text-decoration: underline
  }
}

.text_link {
  margin: 40px 0 20px 0;

  .here {
    cursor: pointer;
    color: $color-red-primary;
    text-decoration: underline
  }
}

.common-button {
  margin-bottom: 20px;

  .el-button {
    width: 100%;
  }
}

.setting-button {
  margin-bottom: -10px;
}

.change_pass {
  display: none;
}

.btn_common {
  width: 150%;
  font-size: 16px;
  font-weight: 600;
  background: $color-background;
  margin: 0 12px 12px 6px;
  line-height: 20px;
  border: 1px solid $color-border-sidebar;
}

.active {
  width: 150%;
  font-size: 16px;
  font-weight: 600;
  background: $color-red-primary !important;
  margin: 0 12px 12px 6px;
  line-height: 20px;
  border: 1px solid $color-border-sidebar;
}

#register {
  .el-form-item {
    margin-bottom: 32px !important;
  }
}
